In [1]:
# import libraries

import pandas as pd
import numpy as np
import os

In [15]:
# create path variable

path = r'/Users/davidcarpenter/Documents/Instacart Basket Analysis'

## Question 3 - In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

In [16]:
# import the orders_products_combined.pkl file

df_ords_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

## Question 4 - Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

In [17]:
df_ords_combined.shape

(32434489, 12)

In [18]:
# import the ex4-5-products.csv file

df_prods_cleaned_wrangled_deduped = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'ex4-5-products.csv'))

In [19]:
df_prods_cleaned_wrangled_deduped.shape

(49693, 6)

## Question 5 - Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [24]:
df_ords_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [27]:
df_prods_cleaned_wrangled_deduped.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [37]:
ords_prods_merge = df_prods_cleaned_wrangled_deduped.merge(df_ords_combined, on = 'product_id')

In [38]:
ords_prods_merge.shape

(32434212, 17)

In [39]:
ords_prods_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,28,6,11,3.0,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,30,6,17,20.0,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,2,0,21,6.0,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,1,3,13,NaN,10,0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,3,4,17,9.0,11,1,both

## Question 6 - Confirm the results of the merge using the merge flag.

In [40]:
ords_prods_merge['_merge'].value_counts()

_merge
both          32434212
left_only            0
right_only           0
Name: count, dtype: int64

## Question 7 - Export the newly created dataframe as ords_prods_merge in a suitable format (taking into consideration the size).

In [41]:
# export to pickle file, result is about 4GB

ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ex4-6-orders_products_merged.pkl'))